PATH_add bin
PATH_add bin/tools

# dotenv_if_exists .env
dotenv_if_exists .local/.env.local

source_env_if_exists .local/.envrc.local

case $DENV in

  1)
    dotenv_if_exists .local/.1.env
    ;;

  2)
    dotenv_if_exists .local/.2.env
    ;;

  3)
    dotenv_if_exists .local/.3.env
    ;;

esac

unset PS1
